<section class="vh-150  py-5 " >
  <div class="container py-5 h-100 " >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-9 " >
        <div class="card">
          <div class="card-body p-4 ">
             <div class="text-center logoImgCont">
                <%= image_tag("rubylogo.png", class:'logoImg mb-2')%>               
             </div>              
                       
                  
                   <h1>Search </h1>
                      <div >
                          <form class=" d-flex search " >
                            <%= form_tag(@blogs_path, method: :get) do %>      
                                
                                <%= text_field_tag(:search, params[:search], placeholder: "Type a specific word, e.g.: 'Framework' ", maxlength: 50, class: "form-control me-2 ") %>        
                                
                                <button class="btn btn-outline-danger" type="submit">Search</button>
                            <%end%>
                          </form>
                           <% if flash.notice %>
                  <p class="alert alert-success mb-0"><%= notice %></p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-danger mb-0"><%= alert %></p>
                <% end %>
                        </div>
                  
                           <hr class="separator">
                    <h1>All Posts </h1>
                  
                    <hr class="separator">

                  <% @blogs.order("blogs.created_at DESC").map do |blog|%>
                      <article class= "blog-card">
                          <h2 ><%= link_to blog.title, blog_path(blog.friendly_id), class: "link-title coloredLink" %> </h2>
                          <div class = "mb-3 mt-3">
                             <%= link_to blog.category.category, blogs_path(:cate => blog.category_id), class: "link btn btn-outline-secondary categoryBtn" %>
                             
                             
                            </div> 
                            <div class="align-img-name">
                            
                                <% if blog.user.avatar.present? %>
                                  <%= image_tag(blog.user.avatar, class: "creator-img border-img") %>
                                <%else%>
                                  <%= image_tag("no-user-icon.jpg", class: "creator-img border-img") %>
                                <%end%>                                
                                <h5 class="name"><%= blog.user.username %></h5>
                              </div>
                              <h6><%= blog.created_at.strftime("%d %b, %Y")%></h6>                        
                            <p> <%= link_to blog.description.to_s, blog_path(blog.friendly_id), class: "link-description"%> </p>                            
                   

                      </article> 
                  <%end%>                    

               
                        
          </div>  
        </div>
      </div>
    </div>
  </div>
  
</section>  

